# Frontend
Frontend/node_modules/
Frontend/dist/

# Backend
Backend/target/

# Root Node modules
node_modules/

# Environment files
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Backend secrets
Backend/src/main/resources/application.properties